.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(16px, 2.4vw, 24px) clamp(24px, 5vw, 80px);
}

.title {
  color: var(--text-color);
  background: var(--accent);
  border-radius: 8px;
  padding: 8px 8px;
  height: 40px;
}

.containingSection {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(16px, 3%, 32px);
  justify-content: center;
  align-items: center;
}